.AddProducts{
    background-color: white;
    margin: 1.5rem 1.5rem 1.5rem 0;
    border-radius: 20px;
    padding: 1.5rem;
    animation: displayAddProducts 0.5s ease-out;
}

@keyframes displayAddProducts {
    0%{
        opacity: 0%;
        transform: translateX(10%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}

.Add{
    padding: 0.5rem 0;
}

.CategoryAdd div{
    width: 100%;
}

.CategoryAdd button{
    display: none;
}

.CategoryAdd input{
    padding: 0.7rem 0 1.2rem 1rem !important;
}